@charset "UTF-8";
/* yellow Color 62287a  005c85 */
.yellow .intro {
	background-image: linear-gradient(to bottom right, #62287a, #005c85);
}
.yellow .logo span{
	border-color: #62287a;
}
.yellow .menu a:hover{
	color: #62287a;
}
.yellow ::selection {
	background-color: #62287a;
	color: #fff;
}
.yellow #nav .current a{
	color: #62287a !important;
}
.yellow .spacer{
	background: rgba(241, 196, 14, 0.5);
}
.yellow .title-two, .yellow .title-full-two{
	color: #62287a;
}
.yellow .half-content a{
	color: #62287a;
}
.yellow .fun-icon{ 
	font-size: 60px;
    -webkit-text-fill-color: rgba(225,225,225,0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #62287a;
}
.yellow .p-two{
	background-color: #62287a;
}
.yellow .sl-ico{
	background-color: #62287a;
}
.yellow .folio-btn:hover{
	background: #62287a;
	color: #fff;
}
.yellow .ch-grid {
	background-color: #62287a;
}
.yellow .f-title-two{
	color: #62287a;
}
.yellow #sendMessage {
	background: #62287a;
}
.yellow #sendMessage:hover, .yellow .load-color  {
	background: #62287a !important
}
.yellow #contactForm #senderName:focus, 
.yellow #contactForm #senderEmail:focus, 
.yellow #contactForm #message:focus {
	border: 1px solid #62287a;
}
.yellow .s-media span:hover{
	color: #62287a;
	border-color: #62287a;
}
.yellow .scrollup {
	background: #62287a;
}
.yellow .progress-bar .skill-in {
  background-color: #62287a;
}
.yellow .car-prev-2, .yellow .car-next-2{
	background-color: #62287a;
}
.yellow .selected{
	border: 2px solid #005c85 !important; 
	background: #62287a !important;
}
.yellow .controller ul li:hover{
	border: 2px solid #62287a; 
	background: #62287a;
}
.yellow .classic-blog .post .date {
    border: 1px solid #62287a;
    color: #62287a;
}
.yellow .classic-blog .posts .format-wrapper {
    background-color: #62287a;
}
.yellow .classic-blog .post a.date:hover {
    background-color: #62287a;
}
.yellow .pagination ul > li > a,
.yellow .pagination ul > li > span {
    background: #62287a;
}
.yellow .pagination ul > li > a:hover,
.yellow .pagination ul > li > a:focus,
.yellow .pagination ul > .active > a,
.yellow .pagination ul > .active > span {
    background: #005c85;
}
.yellow .car-prev, .yellow .car-next{
	background-color: #62287a;
}
.yellow .controller-2 ul li:hover,.controller-3 ul li:hover{
	border: 2px solid #62287a; 
	background: #62287a;
}
.yellow #sendMessage:hover, .load-color  {
	background: #005c85 !important;
}
.yellow .my-button{
	background: #62287a;
}
.yellow .my-button a{
	color: #f7f7f7;
}
.yellow .my-button a:hover{
	color: #fff;
}
.yellow .my-button:hover{
	background: #005c85;
}
.yellow a:hover,
.yellow a:focus {
    color: #2e2e2e;
    text-decoration: none;
}
.yellow #nav2 > a{
	background:url("../../img/menu-icon-blk.png") no-repeat scroll 0 0 rgba(239, 186, 0, 100);
}
